@keyframes slideUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.fa-heart {
    color: black;

    &::before {
        transition: color 0.1s ease-in-out;
    }
    &:hover::before{
        color: #ff79da;
        font-weight: bold;
        cursor: pointer;
    }
}