.sub-header {
    background-color: #eaeaea;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .fa-sharp.fa-solid.fa-location-dot{
    margin-right: 15px;
  }
  .explore-section{
    padding: 6rem 2rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
  }