html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 0;
  }
  
  p {
    font-weight: 200;
  }
  
  a {
    background-color: transparent;
  }