.footer {
    width: 100%;
    background: #353535;
    color: white;
    padding: 3rem;

    &_title {
        font-family: 'Shrikhand', cursive;
        margin: 1rem 0rem;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    &_nav_link {
        margin: 0.5rem 0rem;
        align-items: center;
        display: flex;
        gap: 0.5rem;
    }
    &_nav_icon {
        color: white;
    }
    &_nav_text {
        color: white;
        text-decoration: none;
    }
}