.header {
    background: white;
    z-index: 2;
    height: 6rem;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }
  
.header_arrow {
    margin-left: 2rem;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    top: 30px;
    left: 15px;
    font-size: 26px;
    color: #000;
  }

